:root {
 /*Repeated elements that are being catogarised for synergy*/
  --mint: #659f8f;
  --dark-mint: #313131;
  --salmon: rgba(220, 110, 67, 0.892);
  --rounded: 10px;
  padding: 8em 4em;
 

}

body {
  background-color: var(--mint);
  color: rgba(19, 18, 18, 0.756);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  height: 100vh;
  
}

#my-email {
  border-color: var(--mint);
  border-radius: var(--rounded);
  padding: 0.8em;
  height: 1.2em;
  width: 12em;
  
}

.button {
  background-color: var( --salmon);
  border-color: var( --salmon);
  border-radius: var(--rounded);
  color: white;
  text-align: center;
  padding: 0.8em 3em;
  height: 3em;
  width: 12em;

}