:root {
 /*Repeated elements that are being catogarised for synergy*/
  --mint: #659f8f;
  --dark: #313131;
  --salmon: rgba(234, 117, 71, 0.892);
  --rounded: 10px;
  padding: 8em 4em;
 

}

body {
  background-color: var(--mint);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100vh;
  
}

#my-email {
  border-color: var(--mint);
  border-radius: var(--rounded);
  padding: 0.8em;
  height: 1.2em;
  width: 12em;
  
}

.button {
  background-color: var( --salmon);
  border-color: var( --salmon);
  border-radius: var(--rounded);
  color: white;
  text-align: center;
  padding: 0.8em 3em;
  height: 3em;
  width: 12em;

}

 .w-auto-h-7 {
  width: auto;
  height: 7ch;

}
/*List Styling*/
h2 {
  margin-bottom: 0.5em;
  font-weight: 150;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  line-height: 1.9em;
  margin-top: 0;
}

.flex {
   border-top: 0.2em solid var(--salmon);
   border-bottom-length: 80px;
}

/*Setting up the layout for the desktop footer*/
.quick-links {
  display: flex;
  
}
/*
.layout {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 4em 4em 4em 5em;
}

.subscribe {
  grid-column-start: 1;
  grid-column-end: 6;
}

.my-email {

}

.button {

}

.quick {
  grid-column-start: 7;
  grid-column-end: 9;
}
.quick-1 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.tech {
  grid-column-start: 10;
  grid-column-end: 11;
}
.tech-1 {
  grid-column-start: 10;
  grid-column-end: 11;
} */

.Subscribe { grid-area: header; }
.quick-1 { grid-area: one; }
.tech-1 { grid-area: two; }
#my-email { grid-area: main; }
.button { grid-area: right; }
.quick { grid-area: quick; }
.tech { grid-area: tech; }
.w-auto-h-7 { grid-area: footer; }



.layout {
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas: 
  'header header  one two'
  'main right quick tech'
  'footer footer footer footer';
}

/*Responsive layout Media Queries*/

@media (max-width: 768px){
  .Subscribe { grid-area: 1/ span 6;}
  .quick-links {grid-area: 3/ span 3;}
  #my-email { grid-area: 2/ span 3;}
  .button { grid-area: 2/ span 3;}
  .quick { grid-area: 4/ span 3;}
  .tech { grid-area: 4/  span 3;}
  .w-auto-h-7 { grid-area: 5/ span 6;} 
} 

@media only screen and (max-width: 700px) {
  .quick-links {
    flex-direction: column;
  }
  .Subscribe { grid-area: 1/ span 6;}
  /*.quick-links {grid-area: 4/ span 6;}*/
  #my-email { grid-area: 2/ span 3;}
  .button { grid-area: 3/ span 6;}
  .quick { grid-area: 4/ span 6;}
  .tech { grid-area: 4/  span 6;}
  .w-auto-h-7 { grid-area: 5/ span 6;}
}
 



